@charset 'utf-8';

@import "~bulma/sass/utilities/functions";

@import "./styles/custom_colors.scss";

$custom-colors: (
  "custom-green-darker": ($custom-green-darker),
  "custom-green-lighter": ($custom-green-lighter),
  "custom-gray": ($custom-gray),
  "custom-gray-darker": ($custom-gray-darker),
  "custom-black": ($custom-black),
  "custom-orange": ($custom-orange),
  "luigi-green": ($luigi-green),
  "default-green": green,
);



#root > div.top-level > div > nav > nav > div:nth-child(1) > a{
  color: "green"
}

#product > div > div > div > a > div > div.column.is-6.is-offset-1 > div{
  font-size: 24;
}

.promo_prices{
  font-size: 24px;

  .dashed_box{

    font-size: 24px;
  }
  //.dashed_box_red{  }
}

#root > div.top-level > div > nav{
  //background-color: white;
  //background: white;
  background-color: #1a301d;
  background: #1a301d;
  opacity: 0.9;
  color: "luigi-green";
  float: right;
  height: 25;
  

}

#root > div.top-level > div > nav > div{
float: center;
}

.bottom-header-text{
  color: green;
}

.dashed_box {
  font-size: 14px;
  color: green;
  background: white;
  font-weight: bold;
  border: 1px dashed $custom-gray;
  padding-left: 20px;
  padding-right: 20px;
}

.short_dashed_box {
  font-size: 14px;
  float: right;
  color: green;
  background: white;
  font-weight: bold;
  border: 1px dashed $custom-gray;
  padding-left: 5px;
  padding-right: 5px;
}

.warning-box{
  font-size: 14px;
  color: red;
  background: white;
  font-weight: bold;
  border: 1px dashed red;
  padding-left: 20px;
  padding-right: 20px;
}

.coupon-red {
  color: red !important;
}
.dashed_box_red {
  font-size: 14px;
  color: red;
  background: white;
  font-weight: bold;
  border: 1px dashed $custom-gray;
  padding-left: 20px;
  padding-right: 20px;
}

.dashed_box_red2 {
  font-size: 14px;
  color: red;
  background: white;
  font-weight: bold;
  border: 1px dashed $custom-gray;
  padding-left: 2px;
  padding-right: 2px;
}


#root > section > div > div > div > div > div > div:nth-child(8) > div > div > span > svg{
  top: 20%;
  right: 5%;
  color: green;
  position: absolute;
}

.modal_root {
    /* This way it could be display flex or grid or whatever also. */
    display: block;
    
    /* Probably need media queries here */
    width: 600px;
    max-width: 100%;
    
    height: 80%;
    max-height: 100%;
    
    position: fixed;
    
    z-index: 100;
    
    left: 50%;
    top: 30%;
    
    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -30%);
    
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */
    
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  #modal-footer > div > div > button {
    z-index: 100 ;
  }

  /*
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    //color: white;    
    float: center;
    max-width: 100%;
    width: 100%;
    height: 15%;
    position: fixed;
    align-content: end;
    top: 85%;
    
  }

*/
  .closed {
    display: none;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
  }
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .category_title{
    color: white !important;
  }
  .menu_line{
    background-color: white;
    opacity: 0.8;
    width: 110%;
    max-width: 110%;
    margin-left: -10% ;
    

    height: 4%;
    max-height: 100%;
    word-spacing: 20%;
    float: center;
    
    //left: 50%;
    top: 95%;
    
    position: fixed;
    
    //z-index: 4500;

}

  //.menu_line_options{  }
  
  ul {
    margin: 10px 0 10px 30px;
  }
  li, p {
    margin: 0 0 10px 0;
  }
  h1 {
    margin: 0 0 20px 0;
  }
  

  .under {
    //position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
  }
  
  .over {
    position: absolute;
   // left: 40%;
    top: 0px;
    z-index: 3;
    float:left;
    overflow:hidden;
    
    clip-path: inset(0 0 0 50%);
    
  }


  .cut-image {
    overflow: hidden;
    position: relative;
  }
  


  #close-button {
    position: fixed;
    
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;
    
    top: 10px;
    
    /* needs to look OK with or without scrollbar */
    right: 20px;
    
    border: 0;
    background: "white";
    color: "green";
    padding: 5px 10px;
    font-size: 1.3rem;
  }
  
  .open-button {
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 21px;
}

.root{
  background-color: red;
}

#root > section > div > div > div.div-checkbox{
  float: right;
}

#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";

