$custom-green-darker: #60C179 !default;
$custom-green-lighter: #87CC96 !default;
$custom-gray: #cccccc !default;
$custom-gray-darker: #666666 !default;
$custom-black: #353535 !default;
$custom-orange: #F7C97C !default;
$luigi-green: #1A2F1C !default;