@import "~bulma/bulma";
@import "./custom_colors";

div.top-navbar {
  background-color: #1A2F1C;
  text-decoration-color: white;
  color: white !important;
  //background-color: $white;
  border-bottom: 1px solid $custom-gray;
  
  nav.navbar {
    background-color: #1A2F1C;
    height: 50px;
    padding: 0em 0em 0em 5%;

  

    .navbar-brand {
      height: 100%;
      z-index: 1;
      
      img {
        height: 100%;
      }      
    }

    .navbar-item.navbar-icons{
      margin-left:auto; 
      margin-right:0;        
      justify-content: center;
      padding: 0 10em 0em 2%;

      
      }

      .navButton{
        float: right;
        margin-left:auto; 
        margin-right:0;
      }

    .navbar-end
   {
     
    padding: 0em 5% 0em 0em;
    color: white;
   
   }


    .navbar-item
   {
      color: white;      
    }

    .navbar-item.navbar-center {
      
      flex-grow: 1;
      justify-content: center;
    }
  }

 
}